# views/devise/menu/_registration_items.html.erb
<% if user_signed_in? %>
  <li>
  <%= link_to(current_user.email, edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('注册', new_user_registration_path)  %>
  </li>
<% end %>