<div class="footer">
  <div class="window">
    <div class="link">
      友情链接：
      <a href="#">驴评网</a> 
      <a href="#">携程旅游网</a> 
      <a href="#">客栈预订</a> 
      <a href="#">同程旅游</a> 
      <a href="#">火车票游多多自助游</a> 
      <a href="#">百酷旅店预订</a> 
      <a href="#">铁友网</a> 
      <a href="#">米胖网</a> 
      <a href="#">酷讯酒店预订</a>
      <a href="#">环视旅游网</a> 
      <a href="#">拉拉勾旅游网</a> 
      <a href="#">背包兔旅游行</a> 
      <a href="#">程遨游</a> 
      <a href="#">搜旅游网</a> 
      <a href="#">128旅行网</a>
    </div>
    <div class="copyright">
      联系我们&nbsp;|&nbsp;关于我们&nbsp;|&nbsp;酒店加盟&nbsp;|&nbsp;业务合作&nbsp;<br>
      © Copyright 2014 guizhoulvyoucom 版权所有 不得转载
    </div>
  </div> 
</div>