
<div class="jui">
  <div class="jui_top"></div>
  <div class="jui_menu">
    <ul>
      <li>
        <a href="#">
          <span>首页管理</span>
        </a>
      </li>
      <li class="selected">
        <a href="#">
          <span>门票管理</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>酒店管理</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>网站配置</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>会员管理</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>系统设置</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="jui_content">
    <div class="jui_left">
      <div class="toggleCollapse">
        <h2>主菜单</h2>
      </div>
      <div class="accordion">
        <div class="accordionHeader">
          <h2 class="collapsable">
            <span>Folder</span>
            门票管理
          </h2>
        </div>
        <div class="accordionContent">
          <a class="jui_menu_item selected" href="#">门票查询</a>
          <br/>
          <a class="jui_menu_item" href="#">新增门票</a>
        </div>
      </div>
    </div>
    <div class="jui_right">
      <div class="title">门票管理</div>
      <div class="button-group">
        <a href="#" class="button">新增</a>
        <a href="#" class="button danger">删除</a>
      </div>
      <div class="jui_table_header">
        <table class="jui_table">
          <tr>
            <th class="center">
              <input type="checkbox" />
            </th>
            <th>景点名称</th>
            <th>价格</th>
            <th>标题4</th>
            <th>标题5</th>
            <th class="center">操作</th>
          </tr>
        </table>
      </div>
      <div class="jui_table_content">
        <table class="jui_table">
          <tr>
            <td class="center" width="30px">
              <input type="checkbox" />
            </td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td class="center" width="80px">
              <a href="#">修改</a>
            </td>
          </tr>
          <tr>
            <td class="center">
              <input type="checkbox" />
            </td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td class="center">
              <a href="#">修改</a>
            </td>
          </tr>
          <tr>
            <td class="center">
              <input type="checkbox" />
            </td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td class="center">
              <a href="#">修改</a>
            </td>
          </tr>
          <tr>
            <td class="center">
              <input type="checkbox" />
            </td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td class="center">
              <a href="#">修改</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="jui_bottom">Copyright 2014</div>
</div>