<div class="title">门票管理</div>
<div class="button-group">
  <a href="#" class="button">新增</a>
  <a href="#" class="button danger">删除</a>
</div>
<div class="jui_table_header">
  <table class="jui_table">
    <tr>
      <th class="center">
        <input type="checkbox" />
      </th>
      <th>景点名称</th>
      <th>价格</th>
      <th>标题4</th>
      <th>标题5</th>
      <th class="center">操作</th>
    </tr>
  </table>
</div>
<div class="jui_table_content">
  <table class="jui_table">
    <tr>
      <td class="center" width="30px">
        <input type="checkbox" />
      </td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td class="center" width="80px">
        <a href="#">修改</a>
      </td>
    </tr>
    <tr>
      <td class="center">
        <input type="checkbox" />
      </td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td class="center">
        <a href="#">修改</a>
      </td>
    </tr>
    <tr>
      <td class="center">
        <input type="checkbox" />
      </td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td class="center">
        <a href="#">修改</a>
      </td>
    </tr>
    <tr>
      <td class="center">
        <input type="checkbox" />
      </td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td class="center">
        <a href="#">修改</a>
      </td>
    </tr>
  </table>
</div>