<div class="jui_left">
  <div class="toggleCollapse">
    <h2>主菜单</h2>
  </div>
  <div class="accordion">
    <% if params[:controller] == "admin/tours" || params[:controller] == "admin/tickets" %>
    <div class="accordionHeader">
      <h2 class="collapsable">
        <span>Folder</span>
        景点管理
      </h2>
    </div>
    <div class="accordionContent">
      <%= nav_link_to "景点查询", admin_tours_path, {class: "jui_menu_item"} %>
      <br/>
      <%= nav_link_to "新增景点", new_admin_tour_path, {class: "jui_menu_item"} %>
    </div>
    <div class="accordionHeader">
      <h2>
        <span>Folder</span>
        门票管理
      </h2>
    </div>
    <div class="accordionContent">
      <%= nav_link_to "门票查询", admin_tickets_path, {class: "jui_menu_item"} %>
    </div>
    <% end %>
    <% if params[:controller] == "admin/users" %>
    <div class="accordionHeader">
      <h2 class="collapsable">
        <span>Folder</span>
        用户管理
      </h2>
    </div>
    <div class="accordionContent">
      <%= nav_link_to "用户查询", admin_users_path, {class: "jui_menu_item"} %>
    </div>
    <% end %></div>
</div>