<div class="jui_menu">
  <ul>
    <li>
      <a href="#">
        <span>首页管理</span>
      </a>
    </li>
    <li class="selected">
      <a href="#">
        <span>门票管理</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>酒店管理</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>网站配置</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>会员管理</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>系统设置</span>
      </a>
    </li>
  </ul>
</div>