<div class="jui_menu">
  <ul>
    <li>
      <%= link_to content_tag(:span, "首页管理"), admin_tours_path %>
    </li>
    <li class="selected">
      <%= link_to content_tag(:span, "景点管理"), admin_tours_path %>
    </li>
    <li>
      <a href="#">
        <span>酒店管理</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>网站配置</span>
      </a>
    </li>
    <li>
      <%= link_to content_tag(:span, "用户管理"), admin_users_path %>
    </li>
    <li>
      <a href="#">
        <span>系统设置</span>
      </a>
    </li>
  </ul>
</div>