<div>
  <div class="nav">
		<div class="window">
			<img src="images/002.jpg" height="80px" />
			<ul class="topbar">
				<li>
					<a href="#">登录</a>&nbsp;&nbsp;|
				</li>
				<li>
					&nbsp;&nbsp;<a href="#">注册</a>&nbsp;&nbsp;|
				</li>
				<li>
					&nbsp;&nbsp;<a href="#">微信</a>
				</li>
			</ul>
			<div class="search">
				<input type="text" />
				<img src="images/search.jpg" />
			</div>
		</div>
		<div class="menu">
			<div class="window">
				<ul class="float_left">
					<li class="hover">首页</li>
					<li>景点</li>
					<li>酒店</li>
					<li>美食</li>
				</ul>
				<div class="order">
					<a href="#">我的订单</a>&nbsp;|&nbsp;<a href="#">手机APP</a>
				</div>
			</div>
		</div>
	</div>
	<img src="images/001.jpg" width="100%" />
	<div class="window">
		<div class="box margintop10">
			<div class="p_title">
				<img src="images/icon_top.png" />
				<span>热门景点推荐</span>&nbsp;/&nbsp;
				<a href="#" style="color: #60C4AB">更多</a>
			</div>
			<div class="content top">
				<div class="top1">
					<img src="images/003.jpg" width="215px" height="450px" />
					<div class="op"></div>
					<ul>
						<li>文字描1</li>
						<li class="top_size">黄果树景区 ￥80</li>
					</ul>
				</div>
				<div class="float_left">
					<div class="top2">
						<img src="images/004.jpg" width="498px" height="224px" />
						<div class="op"></div>
						<ul>
							<li>文字描1</li>
							<li class="top_size">黄果树景区 ￥80</li>
						</ul>
					</div>
					<div class="clear_both">
						<div class="top4">
							<img src="images/006.jpg" width="198px" height="224px" />
							<div class="op"></div>
							<ul>
								<li>文字描1</li>
								<li class="top_size">黄果树景区 ￥80</li>
							</ul>
						</div>
						<div class="top5">
							<img src="images/007.jpg" width="300px" height="224px" />
							<div class="op"></div>
							<ul>
								<li>文字描1</li>
								<li class="top_size">黄果树景区 ￥80</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="top3">
					<img src="images/005.jpg" width="215px" height="450px" />
					<div class="op"></div>
					<ul>
						<li>文字描1</li>
						<li class="top_size">黄果树景区 ￥80</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="box overflow_h margintop10">
			<div class="p_title">
				<img src="images/icon_top.png" />
				<span>酒店推荐</span>&nbsp;/&nbsp;
				<a href="#" style="color: #60C4AB">更多</a>
			</div>
			<div class="content">
				<div class="hotel">
					<img src="images/008.jpg" width="332px" height="253px" />
					<div class="info">
						<dl>
							<dd>
								乐天世纪红色浪漫温馨
							</dd>
							<dt>
								<img src="images/star.jpg" width="120px"
										height="23px" />&nbsp;
								<span>推荐</span>
							</dt>
							<dt>
								大床房|41平米|已被预订16晚
							</dt>
							<dt>
								<span class="price">￥358</span>/晚
							</dt>
							<dt>
								<hr />
								<span class="remark">
									详细：贵阳云岩石枣山路95号（近元隆广场、大西门、喷水池、国贸广场、星力百货），近北京路。
								</span>
							</dt>
						</dl>
					</div>
				</div>
				<div class="hotel_list">
					<ul>
						<li>
							<img src="images/009.jpg" width="170px" height="116px"><br/>
							<span class="price">￥368</span>/晚已预订12晚
						</li>
						<li>
							<img src="images/010.jpg" width="170px" height="116px"><br/>
							<span class="price">￥288</span>/晚已预订59晚
						</li>
						<li>
							<img src="images/011.jpg" width="170px" height="116px"><br/>
							<span class="price">￥458</span>/晚已预订12晚
						</li>
						<li>
							<img src="images/012.jpg" width="170px" height="116px"><br/>
							<span class="price">￥178</span>/晚已预订78晚
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="link">
				友情链接：
				<a href="#">驴评网</a> 
				<a href="#">携程旅游网</a> 
				<a href="#">客栈预订</a> 
				<a href="#">同程旅游</a> 
				<a href="#">火车票游多多自助游</a> 
				<a href="#">百酷旅店预订</a> 
				<a href="#">铁友网</a> 
				<a href="#">米胖网</a> 
				<a href="#">酷讯酒店预订</a>
				<a href="#">环视旅游网</a> 
				<a href="#">拉拉勾旅游网</a> 
				<a href="#">背包兔旅游行</a> 
				<a href="#">程遨游</a> 
				<a href="#">搜旅游网</a> 
				<a href="#">128旅行网</a>
			</div>
			<div class="copyright">
				联系我们&nbsp;|&nbsp;关于我们&nbsp;|&nbsp;酒店加盟&nbsp;|&nbsp;业务合作&nbsp;<br>
				© Copyright 2014 guizhoulvyoucom 版权所有 不得转载
			</div>
		</div>
	</div>
</div>