<div class="window">
  <div class="box">
    <div class="p_title">
      <%= image_tag "icon_jd.png" %>
      <span>旅游景点</span>
    </div>
    <div class="content">
      <ul class="list">
        <li class="pic">
          <img src="" width="280px" height="200px" />
        </li>
        <li class="ctx">
          <dl>
            <dt>黄果输瀑布</dt>
            <dd>地址：贵州省安顺市镇宁布衣族自治县</dd>
            <dd>特色：中华第一大瀑布</dd>
          </dl>
          <ul>
            <li class="list">
              <ul>
                <li class="t1">特惠票</li>
                <li class="t2">贵州黄果树风景名胜区门票</li>
                <li class="t3">￥180</li>
                <li class="t4">预订</li>
              </ul>
            </li>
            <li class="list">
              <ul>
                <li class="t1">特惠票</li>
                <li class="t2">贵州黄果树风景名胜区门票</li>
                <li class="t3">￥180</li>
                <li class="t4">预订</li>
              </ul>
            </li>
            <li class="list hide">
              <ul>
                <li class="t1">特惠票</li>
                <li class="t2">贵州黄果树风景名胜区门票</li>
                <li class="t3">￥180</li>
                <li class="t4">预订</li>
              </ul>
            </li>
            <li class="list hide">
              <ul>
                <li class="t1">特惠票</li>
                <li class="t2">贵州黄果树风景名胜区门票</li>
                <li class="t3">￥180</li>
                <li class="t4">预订</li>
              </ul>
            </li>
            <li class="list hide">
              <ul>
                <li class="t1">特惠票</li>
                <li class="t2">贵州黄果树风景名胜区门票</li>
                <li class="t3">￥180</li>
                <li class="t4">预订</li>
              </ul>
            </li>
            <li class="list hide">
              <ul>
                <li class="t1">特惠票</li>
                <li class="t2">贵州黄果树风景名胜区门票</li>
                <li class="t3">￥180</li>
                <li class="t4">预订</li>
              </ul>
            </li>
            <li class="list_line">
              <a class="showall na" href="#">
                查看全部（6）
                <img src="images/arrow_down.png" />
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>