/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require mf-pattern/mF_fancy
 *= require pagination
 */
/*common*/
html,body,h1,h2,h3,h4,h5,h6,hr,p,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td
  {
  margin: 0;
  padding: 0;
}

dl,dt,dd {
  margin: 0;
  padding: 0;
  overflow: hidden;
  zoom: 1;
}

body,button,div,input,select,textarea {
  font: 13px/1.5 tahoma, arial, simsun, sans-serif;
  font-family: Arial, \5FAE\8F6F\96C5\9ED1, Helvetica, sans-serif;
  _font: 12px/1.5 tahoma, arial, simsun, sans-serif;
}

h1,h2,h3,h4,h5,h6,button,input,select,textarea {
  font-size: 100%;
}

ul,ol,li {
  list-style: none;
}

*:focus {
  outline: none;
}

input {
  padding-left: 3px;
}

.input_focus {
  border-radius: 3px;
  border: 1px solid #909090;
}
.input_focus:focus {
  outline:none;
  border:#87C6F9 1px solid;
  box-shadow: 0 0 8px rgba(103, 166, 217, 1);
}

a {
  color:#000000;
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  color:#000000;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover {
  color:#000000;
  background: transparent;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.na:hover {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #000000;
}
.link:hover, .link:active
.link.hover, .link.active {
 color: #55c0a5; 
}

a.org, a.org:visited, a.org:link {
  cursor: pointer;
  background: transparent;
  color:#373737;
  text-decoration: none;
}
a.org:hover, a.org.hover
a.org:active, a.org.active {
  cursor: pointer;
  background: transparent;
  color:#f57c17;
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
  outline: none;
}

img {
  border: 0;
  vertical-align: middle;
}

.hand {
  cursor: pointer;
}

.bg_1 {
  background: #ececea;
}
.color_w {
  color:#ffffff;
}

.float_left {
  float:left;
}
.clear_both {
  clear:both;
}
.float_right {
  float:right;
}

.clear100 {
  clear:both;
  width: 100%;
}
.width100{ 
  width: 100%;
}

.overflow_h {
  overflow: hidden;
}

.text_align_c {
  text-align: center;
}
.text_align_l {
  text-align: left;
}

.space {
  clear:both; 
  width:100%; 
  overflow: hidden; 
  margin-top:10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.margintop10 {
  margin-top: 10px;
}
.marginleft10 {
  margin-left: 10px;
}

.root1440 .window {
  position: relative;
  clear: both;
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}

.window {
  position: relative;
  clear: both;
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0px;
}

.box {
  clear:both;
  width:100%;
  border:1px solid #cacaca;
  background-color: #ffffff;
  overflow: hidden;
}

.box .p_title {
  clear:both;
  padding:10px 0px 0px 15px;
}

.box .p_title .span {
  color:787878;
  font-size: 15px;
}

.box .content {
  clear:both;
  padding:10px;
}


.nav { width:100%; background: #ffffff; }
.nav li{ float:left; }
.topbar {float:right;}
.topbar a, .topbar li {color:#55a6c0;}
.nav .search {clear:both; float:right; margin-top:30px; border:1px solid #000;}
.nav .search input {border:0px; height:29px;}
.nav .search .query {border: 0px; height: 29px; width: 29px; background: url(search.jpg)}

.nav .menu { clear:both; width:100%; background-color: #55C0A5; height:40px; line-height: 40px; }
.nav .menu li { 
  background-color: #55C0A5; 
  height:35px; 
  line-height: 35px; 
  margin-top:5px; 
  font-size: 15px; 
  color: #ffffff;  
  padding:0px 10px 0px 10px;
  cursor: pointer;
}
.nav .menu li.selected,
.nav .menu li.selected a {background-color: #ffffff; color: #55C0A5; font-weight: bold;}
.nav .menu li a:hover {underline:none; }
.nav .menu li a{color:#ffffff; underline:none;}
.nav .menu .order {float:right; height: 30px; line-height: 30px; color: #ffffff; background: #ffffff; margin-top: 5px;}
.nav .menu .order a {color: #ffffff;}
.nav .menu .order input {border:0px; height:29px;}
.nav .menu .order .query {border: 0px; height: 29px; width: 29px; background: url(search.jpg)}

.top {overflow: hidden;}
.top li {color: #ffffff;}
.top .op {
  background-color: #000;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  opacity: .25;
  filter: alpha(opacity = 25);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
}

.footer .link {
  color: #9d9d9d;
  padding: 10px;
  font-weight: bold;
}
.footer .link a {
  color: #9d9d9d;
  font-weight: bold;
}
.footer .copyright {
  background-color: #D0D0CF; height: 60px; text-align: center; padding-top: 20px;
  color: #616161;
}


.layout {
  clear:both;
  overflow: hidden;
  background: #D2D2D2;
  width: 950px;
  padding: 5px;
  .content { 
    clear:both;
    overflow: hidden;
    background: #ffffff;
    .left {
      float:left;
      width: 480px;
      margin: 5px 0px 5px 5px;
    }
    .right {
      float:left;
      width: 445px;
      padding: 5px 5px 5px 10px;
      dt {
        height:40px;
        line-height: 40px;
        word-break:keep-all;
      }
      .price {
        clear:both;
        padding-top: 10px;
        color:#FF6600;
        font-size:28px;
        line-height: 28px;
      }
    }
    .title {
      clear:both;
      width: 100%;
      padding: 5px;
      span {
        font-size: 20px;
        vertical-align: middle;
      }
    }
    .hint {
      clear:both;
      width: 100%;
      border-bottom: 1px solid #F5F5F5;
      height: 40px;
      line-height: 40px;
      padding-left: 35px;
    }
  }
}

.tab_div {
  clear: both;
  overflow: hidden;
  .tab {
    clear: both;
    width: 100%;
    overflow: hidden;
    position: relative;
    ul {
      clear:both;
      overflow: hidden;
    }   
    li {
      float:left;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      border:1px solid #DEDFDE;
    }
    li.left {
      margin-left: 10px;
    }
    li:hover, li.hover {
      font-weight: bold;
      border-bottom: 1px solid #ffffff;
      border-top: 1px solid #55c0a5;
    }
  }
  .tab_content {
    clear:both;
    border: 1px solid #DEDFDE;
    margin-top: -1px;
    overflow: hidden;
    padding: 10px;
  }
}

/*register*/
.register {
  background:url(log_bg.jpg) no-repeat;
  background-color:#F1F1F1;
}

.register .main {
  clear:both; 
  width:100%; 
  overflow:hidden;
  padding-top: 400px;

}

.register .main .content {
  clear:both; 
  width:400px; 
  margin:0 auto;
}

.register .main .content li {
  clear:both;
  margin-top:10px;
}

.register .main .content .font {
  color:#000; 
  font-weight:bold; 
  text-align:left;
}

.register .main .content span {
  margin-left:10px;
  font-size:12px;
  color:#777777;
}

input {
  width:218px;height:29px;
}

.btnReg {
  background:#50AEFF; 
  color:#ffffff; 
  width:100px; 
  border : 0px; 
  height:30px; 
  line-height:30px;
}

/*login*/
.login {
  background:url(log_bg.jpg) no-repeat;
  background-color:#F1F1F1;
}

.login .main {
  clear:both; 
  width:100%; 
  overflow:hidden;
  padding-top: 400px;
}


.login .main .content {
  clear:both; 
  width:480px;
  margin:0 auto;
}

.login .main .left {
  float:left; 
  width:220px; 
  text-align:right; 
  padding-right:20px;
}

.login .main li {
  clear:both;
  margin-top:10px;
}

.login .main .font {
  color:#000; 
  font-weight:bold; 
  text-align:left;
}

.btnLogin {
  background:#50AEFF; 
  color:#ffffff; 
  width:100px; 
  border : 0px; 
  height:30px; 
  line-height:30px;
}

.login .main .right {
  float:right; 
  width:220px; 
  padding-left:20px;
}
.full_image {
  width: 100%
}

.area_bar {
  float: right;
  padding-right: 10px;
  li {
    float: left;
    margin-left: 10px;
  }
  a {
    color: #747474;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    outline: none;
  }
  a:hover, a.hover {
    color: #55c0a5;
  }
}
