// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search_bar {
	clear: both;
	background-color: #3d9f95;
	overflow: hidden;
	padding: 20px 0px 20px 0px;
	div {
		float: left;
		margin-left: 10px;
		background-color: #ffffff;
	}
	.input {
		width: 165px;
		border: 0px;
	}
	.input.width {
		width: 220px;
	}
}

.hotels_list {
	clear: both;
	width: 100%;
	overflow: hidden;
	img {
		width: 130px;
		height: 130px;
	}
	ul {
		clear: both;
		border-top: 1px solid #dfdfdf;
		overflow: hidden;
		padding-top: 10px;
		li {
			float: left;
			dd {
				margin-top: 5px;
			}
			.name {
				font-weight: bold;
				font-size: 14px;
				color: #0066cc;
				margin-top: 0px;
				img {
					width: 12px;
					height: 12px;
				}
			}
			.address {
				text-decoration: underline;
			}
			.dian {
				margin-top: 10px;
				color: #999999;
			}
		}
		li.left {
			margin-left: 20px;
		}
		li.right {
			float: right;
			padding-right: 5px;
			dd {
				text-align: right;
				.price {
					color: #ff663a;
					font-weight: bold;
					font-size: 25px;
				}
				.p1 {
					vertical-align: top;
				}
				.p2 {
					color: #ff663a;
					vertical-align: bottom;
				}
			}
			dd.height {
				height: 35px;
				line-height: 35px;
			}
		}
	}
}

.fan {
	border: 1px solid #fba62c;
	background-color:#fba62c;
	color: #fff; 
}
.f_price {
	color: #fba62c;
	border: 1px solid #fba62c;
	margin-left: 0px;
}

.dialogDiv {
	position: absolute;
	z-index: 99;
	display: none;
}

#cityDiv {
	clear:both;
	width: 200px;
	border: 1px solid #000;
	background-color: #fff;
	padding: 10px;
	li {
		float: left;
		margin-left: 20px;
		cursor: pointer;
	}
}

.hotel_show_title {
	clear:both;
	padding:10px;
	overflow: hidden;
	.name {
		float: left;
		.span_c {
			font-size: 15px;
			font-weight: bold;
		}
		img {
			width: 12px;
			height: 12px;
		}
	}
	.right_price {
		float: right;
		height: 35px;
		line-height: 35px;
		.price {
			color: #ff663a;
			font-weight: bold;
			font-size: 25px;
		}
		.p1 {
			vertical-align: top;
		}
		.p2 {
			color: #ff663a;
			vertical-align: bottom;
		}
	}
}

.hotel_show_desc {
	clear:both;
	padding:0px 10px 10px 10px;
	overflow: hidden;
}

.f_color_order {
	color: #10a200;
}
.font_color_blue {
	color: #3a66cc;
}

.price {
	color: #ff663a;
	font-size: 18px;
	font-weight: bold;
}

.btn_new_order {
	padding: 10px 15px 10px 15px;
	background-color: #ffb000;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	border: 1px solid #e77c00;
	width: 120px;
	height: 50px;
	cursor: pointer;
}

.hotel_show_pic {
	position:relative;
	clear: both;
	padding:0px 10px 10px 10px;
	overflow: hidden;
	.pic {
		float: left;
		width: 290px;
		height: 224px;
		.desc {
			position: absolute;
			top: 184px;
			left: 170px;
			width: 110px;
			height: 30px;
			line-height: 30px;
			z-index: 99;
			background-color: #00c89d;
			color: #fff;
			padding:0px 10px 0px 10px;
		}
	}
	.pic_list {
		float: left;
		overflow: hidden;
		margin-left: 5px;
		.margin_left_5 {
			margin-left: 5px;
		}
		.margin_top_5 {
			margin-top: 5px;
		}
		.img_size_1 {
			width: 246px;
			height: 109px;
		}
		.img_size_2 {
			width: 100px;
			height: 109px;
		}
	}
	.dp_map {
		float: left;
		margin-left: 10px;
		width: 270px;
		.dp {
			clear: both;
			overflow: hidden;
			border-bottom: 1px solid #cfcfcf;
			padding: 7px;
			div {
				float: left;
				overflow: hidden;
			}
			span {
				color: #666666;
			}
			.font_size {
				font-size: 20px;
				font-weight: bold;
				color: #3a66cc;
			}
			.font_color {
				color: #3a66cc;
			}
			.btn_dp {
				margin-left: 15px;
				background-color: #e6f3ff;
				border: 1px solid #3a66cc;
				cursor: pointer;
				width: 100px;
				margin-top: 12px;
			}
		}
		.map {
			clear: both;
			overflow: hidden;
			padding: 5px;
			#mapView {
				clear: both;
				overflow: hidden;
				height: 150px;
			}
		}
	}
}

.dianping {
	clear:both;
	overflow: hidden;
	margin-top: 10px;
	.dp_title {
		clear: both;
		background-color: #55c0a5;
		padding: 7px 10px 7px 25px;
		width: 75px;
		.font {
			color: #fff;
			font-size: 17px;
		}
	}
	.dp_content {
		clear: both;
		overflow: hidden;
		margin-top: 10px;
		div {
			input {
				width: 25px;
				vertical-align:middle;
			}
			label {
				vertical-align:middle;
			}
			.user_info {
				float: left;
				width: 150px;
				padding:15px;
				min-height: 100px;
				img {
					width: 80px;
					height: 80px;
				}
				.u_name {
					clear: both;
					color: #00ada7;
					font-size: 14px;
				}
				.u_level {
					clear: both;
					font-size: 12px;
					color: #555555;
				}
				.u_dianping {
					clear:both;
					margin-top: 10px;
					overflow: hidden;
					img {
						width: 12px;
						height: 11px;
					}
					span {
						color: #999999;
					}
				}
			}
			.user_cnt {
				float: left;
				min-height: 100px;
				.u_title {
					clear:both;
					clear: both;
					font-size: 14px;
					color: #00ada7;
					margin-top: 20px;
				}
				p {
					color : #666666;
				}
				.line_h {
					clear: both;
					padding: 0px 0px 7px 0px;
				}
			}
			.bottom {
				clear: both;
				margin-right: 15px;
				margin-bottom: 5px;
				text-align: right;
			}
		}
		.line {
			clear: both;
			overflow: hidden;
			text-align: left;
			border: 1px solid #eeeeee;
			border-bottom: 0px;
		}
		.first {
			height: 40px;
			line-height: 40px;
			padding: 7px 7px 7px 15px;
		}
		.bottom {
			border-bottom: 1px;
			vertical-align:middle;
			img {
				width: 12px;
				height: 12px;
			}
			span {
				color: #00ada7;
			}
		}
		.line.bottom {
			border-bottom: 1px solid #eeeeee;
		}
	}
}

.fxyd {
	clear: both;
	width: 100%;
	border: 2px solid #cccccc;
	.bar {
		clear:both;
		background-color: #f1f1f1;
		padding: 10px;
		input {
			width: 140px;
			height: 23px;
			line-height: 23px;
			margin-left: 5px;
			background-color: #fff;
		}
	}
	table {
		clear: both;
		width: 100%;
		th {
			height: 30px;
			line-height: 30px;
			text-align: left;
		}
		td {
			height: 50px;
			line-height: 50px;
			border-top: 1px solid #cccccc;
			.span_name {
				width: 65px;
				display: table;
			}
			.span_detail {
				font-size: 12px;
				cursor: pointer;
			}
			span.zc {
				color: #000;
				border-bottom: 1px dashed #000;
			}
			span.kd {
				color: #10a200;
				border-bottom: 1px dashed #10a200;
			}
			span.yf {
				background-color: #fff5ce;
				color: #e28500;
			}
			span.jz {
				color: #bb0000;
			}
		}
		td.first {
			border-right: 1px solid #cccccc;
			padding: 10px;
		}
		td.price_type {
			text-align: left;
			padding-left: 15px;
		}
		tr.second {
			td {
				border-top: 1px dotted #cccccc;
			}
		}
	}
}

#btnHotelSearch {
	background-color: #55c0a5;
	color: #fff;
	border: 0px;
	width: 70px;
	height: 28px;
	cursor: pointer;
}

.btnHotelShowOrder {
	background-color: #ffb000;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #e77c00;
	cursor: pointer;
	width: 80px;
	height: 30px;
}

.span_li {
	color: #fff;
	background-color: #ffb000;
}

.hoteldetail {
	clear: both;
	margin-top: 20px;
	background-color: #55c0a5;
	padding: 7px 10px 7px 25px;
	width: 75px;
	.font {
		color: #fff;
		font-size: 17px;
	}
}

.detailcontent{
	padding: 10px 10px 10px 0px;	
}
.detailcontent .detailsubhead{
	font-size: 18px;
	font-weight:bold;
	color: #55C0A5;
	padding:0px 0px 15px 20px;
}
.detailcontent .detailinfo{
	padding: 0px 0px 10px 10px;.
	font-family: "宋体";
	font-size: 12px
}

.detailcontent .detaildash{
	border-bottom: 1px dashed #CCCCCC;	
	margin-bottom: 10px;
}
.detailcontent .detailsolid{
	margin-top: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}

.detailcontent .detailinfo.intent2{
	text-indent: 2em;
}
.detailcontent .detailinfo.intent7{
	text-indent: 7em;
}