// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
  clear:both;
  padding:10px;
  border-top: 1px solid #c8c8c8;
  overflow: hidden;
}

.list .pic {
  float: left;
  width: 300px;
}

.list .ctx {
  float:left;
  width: 615px;
}

.list .ctx dl {
  height: 115px;
}

.list .ctx dl dt {
  height: 30px;
  line-height: 30px;
  color: #009fc6;
  font-size: 18px;
  font-weight: bold;
}

.list ul .t1,.t2,.t3,.t4 {
  float:left;
}

.list ul .t1 {
  width:100px;
}

.list ul .t2 {
  color: #009da7;
  width: 340px;
}

.list ul .t3 {
  width:90px;
  text-align:center;
  color:#ff6600;
  font-weight: bold;
}

.list ul .t4 {
  width:60px;
  background-color: #fdaf00;
  text-align: center;
  color: #ffffff;
  border: 0px;
}

.list ul .price_font {
	width:80px;
	height: 25px;
  	background-color: #fdaf00;
  	text-align: center;
  	color: #ffffff;
  	border: 0px;
}

.list_line {
  clear:both;
  border-top: 1px solid #c8c8c8;
  padding:2px 10px 0px 10px;
  text-align: right;
}

.list_line .showall {
  color: #0065bb;
}

.list_line .arrow {
  margin-left:0px;
  padding-left:0px;
  vertical-align: top;
}

.tour_img {
	width:280px;
	height:200px;
	cursor: pointer;
}

.ticket_table_tr {
	clear:both;
	overflow: hidden;
  	width: 100%;
	li {
    	float:left;
    	height: 40px;
    	line-height: 40px;
    	text-align: center;
    }
    .td1 {width: 15%;}
	.td2 {width: 35%;}
	.td3 {width: 10%;}
	.td4 {width: 10%;}
	.td5 {width: 15%;}
	.td6 {width: 15%;}
}
.ticket_table_th {
	background-color: #EEEEEE;
	border-bottom: 1px solid #55C0A5;
	li {
		color: #999999;
		font-size: 14px;
	}
}

.ticket_font_color1 {
	color: #0065BB;
}
.ticket_font_color2 {
	color: #ff7e00;
}
.ticket_font_color3 {
	color: #ff7e00;
}
.ticket_font_color4 {
	color: #007e3a;
}

.show_detail {
	float:left;
	width: 690px;
	overflow: hidden;
	margin-top: 10px;
	.tab {
		clear: both;
		width: 100%;
		overflow: hidden;
		position: relative;
		ul {
			clear:both;
			overflow: hidden;
		}		
		li {
			float:left;
			width: 100px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			cursor: pointer;
			border:1px solid #DEDFDE;
		}
		.li_left {
			margin-left: 10px;
		}
		li:hover, .li_hover {
			font-weight: bold;
			border-bottom: 1px solid #ffffff;
			border-top:1px solid #55c0a5;
		}
	}
	.tab_content {
		clear:both;
		border: 1px solid #DEDFDE;
		margin-top: -1px;
		overflow: hidden;
		.tab_layout {
			clear:both;
			margin: 10px 0px 10px 0px;
			overflow: hidden;
			background-color: #fff;
			.left {
				float:left;
				width:30px;
				font-size:14px;
				color:#FFF;
				font-weight: bold;
				background-color:#55C0A5;
				padding:10px;
				.font {
					font-size:14px;
					color:#FFF;
					font-weight: bold;
				}
			}
			.right {
				float: left;
				width: 610px;
				padding: 0px 10px 0px 10px;
				.font_bold {
					font-size:14px;
					font-weight: bold;
				}
				p {
					line-height: 23px;
				}
			}
		}
	}
}

#bMap {
	clear: both;
	width: 600px;
	height: 300px;
	overflow: hidden;
}

.tour_other {
	float:right;
	width: 240px;
	margin-top: 10px;
	border: 1px solid #D2D2D2;
	background: #ffffff;
	padding:10px;
	overflow: hidden;
	.title {
		font-size: 14px;
		font-weight: bold;
	}
	.price_color {
		color:#FF6600;
	}
	.line {
		clear: both;
		border-top: 1px solid #D2D2D2;
		margin-top: 10px;
	}
	.item {
		clear:both;
		overflow: hidden;
		margin-top: 10px;
	}
	.content {
		float:left;
		margin-left:15px;
	}
}

.tour_show_img {
	width: 480px;
	height: 250px;
}

.btn_order, .btn_order:hover,
.btn_order:visited {
	border: 0px;
	background-color: #fdaf00;
	color: #ffffff;
	width: 80px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}


.dt_font_size {
	font-size:26px
}

.dt_font_color {
	color:#0065BB;
}

.tour_line {
	clear:both;
	width:100%;
	border-top:3px solid #D2D2D2;
}

.a_detail_color {
	color:#666666;
}

