// Place all the styles related to the tour_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_table {
	clear: both;
	width: 100%;
	td.left {
		width: 170px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 20px;
		border: 1px solid #cacaca;
		background-color: #fff;
		li {
			margin-top: 10px;
		}
	}
	td.right {
		margin-left: 5px;
		border: 1px solid #cacaca;
		background-color: #fff;
		.menu {
			clear: both;
			padding: 10px;
			overflow: hidden;
			vertical-align: top;
			ul {
				clear: both;
				border-bottom: 1px solid #b5b5b5;
				overflow: hidden;
			}
			li {
				float: left;
				border-left: 1px solid #b5b5b5;
				padding: 5px 20px 5px 20px;
			}
			li.first {
				border-left: 0px;
			}
			li.last {
				float: right;
				border-left: 0px;
			}
		}
	}
	td.split {
		width: 5px;
	}
}

.menu_font_size {
	font-size: 14px;
	font-weight: bold;
}

.order_list_div {
	clear: both;
	padding: 5px 10px 5px 10px;
	overflow: hidden;
}
.order_list_div .order_list_table {
	clear: both;
	overflow: hidden;
	width: 100%;
	th {
		background-color: #e5e5e5;
		text-align: center;
		height: 30px;
		line-height: 30px;
		border: 1px solid #cacaca;
	}
	td {
		text-align: center;
		border: 1px solid #cacaca;
		img {
			width: 84px;
			height: 60px;
			margin: 5px;
		}
	}
	.op_font_color {
		color:#157268;
	}
}