// Place all the styles related to the tour_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order_table {
	clear: both;
	width: 100%;
	td.left {
		width: 170px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 20px;
		border: 1px solid #cacaca;
		background-color: #fff;
		.item {
			clear: both;
			padding: 5px 0px 5px 0px;
			border-bottom: 1px solid #e1e1e1;
			margin-left: 10px; 
			margin-right: 10px;
			ul {
				clear: both;
				border-top: 1px solid #e1e1e1;
				margin-top: 10px;
				padding-top: 5px;
				padding-bottom: 5px;
				li {
					height: 25px;
					line-height: 25px;
				}
			}
			.arrow {
				float: right;
				width: 13px;
				height: 9px;
				background: url(arrow_d.png) no-repeat center center;
			}
		}
		.item:last {
			border-bottom: 1px solid #000;
		}
	}
	span {cursor: pointer;}
	td.right {
		margin-left: 5px;
		border: 1px solid #cacaca;
		background-color: #fff;
		.menu {
			clear: both;
			padding: 10px;
			overflow: hidden;
			vertical-align: top;
			ul {
				clear: both;
				border-bottom: 1px solid #b5b5b5;
				overflow: hidden;
			}
			li {
				float: left;
				padding: 5px 20px 5px 20px;
				input {
					width: 100px;
					height: 20px;
				}
				#btnQuery {
					background: #55c0a5;
					color: #fff;
					height: 25px;
					line-height: 25px;
					font-size: 12px;
					width: 70px;
					border: 0px;
					cursor: pointer;
				}
				select {
					height: 25px;
				}
			}
		}
	}
	.status {
		clear: both;
		overflow: hidden;
		height: 30px;
		line-height: 30px;
		padding-left: 20px;
		padding-right: 20px;
		
	}
	td.split {
		width: 5px;
	}
}

.menu_font_size {
	font-size: 14px;
	font-weight: bold;
}

.order_list_div {
	clear: both;
	overflow: hidden;
	padding: 5px 10px 10px 10px;
}
.order_list_div .order_list_table {
	clear: both;
	overflow: hidden;
	width: 100%;
	th {
		background-color: #e5e5e5;
		text-align: center;
		height: 30px;
		line-height: 30px;
		border-top: 1px solid #cacaca;
		border-bottom: 1px solid #cacaca;
	}
	td {
		text-align: center;
		border-top: 1px solid #cacaca;
		border-bottom: 1px solid #cacaca;
		img {
			width: 84px;
			height: 60px;
			margin: 5px;
		}
	}
	.op_font_color {
		color:#157268;
	}
}

.falls_title{
	font-size: 25px;
}
.online_payment{
	font-size: 16px;
}
.falls_title,
.online_paymen,
.huangguoshu_falls{
	padding: 20px 0px 10px 0px;	
}

.book_attention{	
	line-height: 20px;
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	background-color: #ECECEA;	
	border-left:  2px solid #72D0B8;
}
.book_attention .attention{
	float:left;
	width: 250px;
}

.btn_pay, .btn_pay:hover {
	padding: 15px 20px 15px 20px;
	background: #FF7300;
	text-decoration: none;
	color: #ffffff;
	margin-left: 200px;
}

.tourinfo,
.payment{
	line-height: 30px;
	font-size: 12px;
	padding: 5px 0px 0px 0px;
}
.tourinfo .tourdate{
	float:left;
	width:300px;
}

.payment{
	line-height: 30px;
	font-size: 18px;
}
.payment .money{
	color: #FF7300;	
	font-weight: bold;
}

.info_title{
	font-size: 20px;	
	float: none;
	padding: 30px 0px 10px 0px;
	margin-right: 20px;
	border-bottom: 1px solid  #72D0B8;
}

.contactinfo,
.reminderinfo{	
	line-height: 20px;
	font-size:12px;
	padding: 10px 10px 0px 0px
}
.contactinfo .info_item{
	padding:0px 0px 10px 0px;
	font-size:12px;
}
.contactinfo .info_item.intent1{
	text-indent: 8px;
}
.contactinfo .redstar{
	color: #FF7300
}
.contactinfo input[type=text],
.contactinfo input[type=email]{
	height: 25px;
	width: 250px;
}

.reminderinfo .agreement{
	margin-top: 15px;
	margin-bottom: 15px;
}
.reminderinfo .agreement .clauses{
	color: #72D0B8;
}
.reminderinfo .agreement .checkbox{	
	vertical-align: middle;
	width: 15px;
}

.submit_order{
	text-align: center;
	margin: 0 auto;
}
.submit_order .btnEnter{
	color: white;	
	font-size: 14px;
	width: 120px;
	height: 35px;
	line-height: 35px;
	background-color: #FF7300;	
	border: none;
	cursor: pointer;
}

.radio {
	width: 15px;
	vertical-align: top;
}

.tick_num {
	border: 1px solid #d8d8d8;
	width: 28px;
	height: 28px;
	vertical-align: top;
	cursor: pointer;
}
.input_num {
	height: 28px;
	border: 0px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	width: 35px;
	text-align: center;
	vertical-align: top;
}

.order_status {
	clear: both;
	overflow: hidden;
	margin-top: 20px;
	li {
		float: left;
		height: 33px;
		line-height: 33px;
		width: 320px;
		text-align: center;
		font-weight: bold;
	}
}
.order_status.step1 {
	background: url('order_status_1.png');
}
.order_status.step2 {
	background: url('order_status_2.png');
}
.order_status.step3 {
	background: url('order_status_3.png');
}





